extends views/layout

block head
  title Página inicial

block content
  section.container
    .row
      .column-8
        h1.page-title I'm Batman!
        
        article
          p You know how to disappear. We can teach you to become truly invisible.
          p You have learn to bury your guilt with anger. I will teach you to confront it and to face the truth.
          p Are you so desperate to fight criminals that you lock yourself in to take them on one at a time ?
          p You are in hell, little man. And I am the devil.
          p What if, before she died, she wrote a letter saying she chose Harvey Dent over you? And what if, to spare you pain, I burnt that letter?
          p Tomorrow, you will be released. If you are bored of brawling with thieves and want to achieve something there is a rare blue flower that grows on the eastern slopes. Pick one of these flowers. If you can carry it to the top of the mountain, you may find what you were looking for in the first place.
          p You know how to fight six men. We can teach you how to engage 600.
          p I just the took to calling it the Bat. And yes Mr. Wayne, it does come in black.

      include views/sidebar.jade
