extends views/layout

block head
  title Produtos

block content

  block link
    -var selected = 'produtos';
    
  section.container
    h1.page-title Produtos
    
    article
      p What if, before she died, she wrote a letter saying she chose Harvey Dent over you? And what if, to spare you pain, I burnt that letter?
      p Tomorrow, you will be released. If you are bored of brawling with thieves and want to achieve something there is a rare blue flower that grows on the eastern slopes. Pick one of these flowers. If you can carry it to the top of the mountain, you may find what you were looking for in the first place.
      p You know how to fight six men. We can teach you how to engage 600.
      p I just the took to calling it the Bat. And yes Mr. Wayne, it does come in black.
