extends views/layout

block head
  title Sobre

block content

  block link
    -var selected = 'sobre';
    
  section.container
    h1.page-title Sobre
    
    article
      p Bruce... it's okay. Don't be afraid.
      p I know why you choose to have your little, ahem... group-therapy sessions in broad daylight. I know why you're afraid to go out at night. The Batman.
      p It means you're hatred, and it also means losing someone, who I've cared for since I first heard his cries echoing through this house. But it might also mean saving your life. And that is more important.
