footer.footer.container
    small 
      | &copy; 2015 - Olha meu 
      strong bunitu 
      | css. by 
      a(href="http://nandomoreira.me/about" target="_blank" title="by nandomoreira.me") nandomoreira.me
