header.header
  .container
    h1.logo
      a(href='/' title='Aula de HTML e CSS') 
        | olha que
        span bunitu
        | meu css
      
    h3.phone
      small Lorem ipsum dolor sit amet
      tel 
        span 41
        | 3231-3234
