aside.sidebar.column-4
  .widget
    h3 Widget 1 :)
    
    img(src="http://lorempixel.com/150/150/sports/2/", alt="lorem sports 2")
    
    img(src="http://lorempixel.com/150/150/sports/3/", alt="lorem sports 3")
    
  .widget
    h3 Widget 2 :)
    
    p 
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
    | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
    | ut aliquip ex ea commodo consequat.
    
