
// Banner

section.banner
  .banner-inner
    .banner-content
      .container
          h1 Cum sociis natoque penatibus et magnis dis parturient
          span.divider
          p.lead Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis nascetur ridiculus mus.
          a.button.ghost(href='#')
            span Conheça
            | nossos serviços

// END Banner