// header

header.header
  .container
    h1.logo
      a(href='#', title='Agência Fer.com')
        | Agência
        span Fer
        | .com

    button.nav-menu(type='button', role='button')
      span
      span
      span

    nav.navbar(role='navigation')
      ul
        li
          a(href='#', title='Home') Home
        li
          a(href='#', title='Serviços') Serviços
        li
          a(href='#', title='Sobre nós') Sobre nós
        li
          a(href='#', title='Contato') Contato

// END header