footer.main-container
  p.pull-right.text-muted
    | by&nbsp;
    a.text-muted(href='http://nandomoreira.me') nandomoreira.me
  p
    | © 2015. ·&nbsp;
    a.text-muted(href='#') Home
    |  ·&nbsp;
    a.text-muted(href='#') Sobre
    |  ·&nbsp;
    a.text-muted(href='#') Serviços
    |  ·&nbsp;
    a.text-muted(href='#') Suporte
    |  ·&nbsp;
    a.text-muted(href='#') Contato

// Latest compiled and minified CSS & JS
script(src='//code.jquery.com/jquery.js')
script(src='/assets/js/main.js')