nav(role="navigation").navbar.navbar-default
  .main-container
    .navbar-header
      button(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse").navbar-toggle.collapsed
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    .collapse.navbar-collapse.navbar-ex1-collapse
      ul.nav.navbar-nav
        li.active: a(href="#") Home
        li: a(href="#") Suporte
        li: a(href="#") Serviços
        li: a(href="#") Contato