
/* Banner */

#banner {
  overflow: hidden;
  padding-bottom: 0;

  .image-style {
    border: 15px solid #F4F4F4;
  }

  @include media($screen-desktop) {
    padding-bottom: em($grid-spacing*2);
  }
}
