/* Three Column Footer Content */

#footer-content {
}

#footer-bg {
  overflow: hidden;
  padding: 70px 0;
}

#footer-content {
  background: url(images/img04.png) no-repeat center top;
  color: #E2B8C6;
  padding: 0 em(20px);
  text-align: center;

  h2 {
    margin: 0;
    letter-spacing: -2px;
    text-shadow: 1px 2px 0 #861F40;
    text-transform: lowercase;
    font-size: 36px;
    text-align: center;
    color: #fff;
    padding: 0 20px 20px;

    @include media($screen-tablet) {
      padding: 0 0 20px;
      text-align: left;
    }
  }

  @include media($screen-tablet) {
    padding: 0;
    text-align: left;
  }
}

/* Footer */

#footer {
  @extend %container-full;
  min-height: em(100px);
  background: url(images/img04.png) no-repeat center top;
  padding: em(50px) em(20px) em(20px);

  p {
    margin: 0;
    padding-top: 10px;
    line-height: normal;
    text-align: center;
    color: #C76485;
  }

  a {
    color: #C76485;
  }

  @include media($screen-tablet) {
    padding: em(50px) 0 em(20px);
  }
}